<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ping pong</title>
    <link rel="stylesheet" href="/pingpong/pp.css">
</head>
<body>
    <header>
        <h1>Ping Pong</h1>
    </header>

    <div id="game">

    </div>

    <footer>
        This is an example of creating a Ping Pong Game.
    </footer>

    <script src="//cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script>
    <script src="/pingpong/pp.js"></script>
    <script>
        (function($) {
            $(function() {
               alert('hello there');
            });
        })(jQuery)
    </script>
</body>
</html>