<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ping pong</title>
    <link rel="stylesheet" href="/pingpong/pp.css">
</head>
<body>
    <header>
        <h1>Ping Pong</h1>
    </header>

    <div id="game">
        <div id="playground">
            <div class="paddle-hand right"></div>
            <div class="paddle-hand left"></div>
            <div id="paddleA" class="paddle"></div>
            <div id="paddleB" class="paddle"></div>
            <div id="ball"></div>
        </div>
    </div>

    <footer>
        This is an example of creating a Ping Pong Game.
    </footer>

    <script src="//cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script>
    <script src="/pingpong/pp.js"></script>
    <script>
        (function($) {
            // data definition
            var pingpong = {
                paddleA: {
                    x: 50,
                    y: 100,
                    width: 20,
                    height: 70
                }, paddleB: {
                    x: 320,
                    y: 100,
                    width: 20,
                    height: 70
                },
                playground: {
                    offsetTop: $("#playground").offset().top,
                }
            };
            // view rendering
            function renderPaddles() {
                $("#paddleB").css("top", pingpong.paddleB.y);
                $("#paddleA").css("top", pingpong.paddleA.y);
            }

            function handleMouseInputs() {
                //run the game when mouse moves in the playground.
                $('#playground').mouseenter(function () {
                    pingpong.isPaused = false;
                });

                //pause the game when mouse moves out the playground.
                $('#playground').mouseleave(function() {
                   pingpong.isPaused = true;
                });

                //calculate the paddle position by using the mouse position.
                $('#playground').mousemove(function(e) {
                    pingpong.paddleB.y = e.pageY - pingpong.playground.offsetTop;
                });
            }

            function render() {
                renderPaddles();
                window.requestAnimationFrame(render);
            }

            function init() {
                //view rendering
                window.requestAnimationFrame(render);

                //inputs
                handleMouseInputs();
            }

            init();
        })(jQuery)
    </script>
</body>
</html>